<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="bg-zinc-900">
        <a href="/" class="">Go Back To Home</a> 
        <h1><%= filename%></h1>
        <div><%= filedata%></div>
    </div>
    
</body>
</html>